#
# Chipone Touchscreen driver configuration
#

config TOUCHSCREEN_CHIPONE
	tristate "Moto CHIPONE Touchscreen"
	depends on I2C
	default n
	help
	  Say Y here if you have Moto Chipone touch panel.
	  If unsure, say N.

config INPUT_CHIPONE_0FLASH_MMI_ENABLE_DOUBLE_TAP
        tristate "Moto CHIPONE Touchscreen"
        depends on I2C
        default n
        help
          Say Y here if you have Moto Chipone touch panel.
          If unsure, say N.

config INPUT_CHIPONE_0FLASH_MMI_NOTIFY_TOUCH_STATE
        tristate "Moto CHIPONE Touchscreen"
        depends on I2C
        default n
        help
          Say Y here if you have Moto Chipone touch panel.
          If unsure, say N.

config STOWED_MODE_EN
        tristate "Moto CHIPONE Touchscreen"
        depends on I2C
        default n
        help
          Say Y here if you have Moto Chipone touch panel.
          If unsure, say N.

config INPUT_TOUCHSCREEN_MMI
        tristate "Moto CHIPONE Touchscreen"
        depends on I2C
        default n
        help
          Say Y here if you have Moto Chipone touch panel.
          If unsure, say N.

config BOARD_USES_DOUBLE_TAP_CTRL
        tristate "Moto CHIPONE Touchscreen"
        depends on I2C
        default n
        help
          Say Y here if you have Moto Chipone touch panel.
          If unsure, say N.

config INPUT_CHIPONE_PANEL_NOTIFICATIONS
        tristate "Moto CHIPONE Touchscreen"
        depends on I2C
        default n
        help
          Say Y here if you have Moto Chipone touch panel.
          If unsure, say N.

config GTP_LAST_TIME
        tristate "Moto CHIPONE Touchscreen"
        depends on I2C
        default n
        help
          Say Y here if you have Moto Chipone touch panel.
          If unsure, say N.

config CHIPONE_ESD
        tristate "Moto CHIPONE Touchscreen"
        depends on I2C
        default n
        help
          Say Y here if you have Moto Chipone touch panel.
          If unsure, say N.
